/* CodeEditor.module.css */
.codeEditorContainer {
    display: flex;
    align-items: flex-start; 
  }
  
  .lineNumbers {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 80vh;
    width: 40px;
    resize: none;
    text-align: right;
  }
  
  .codeTextarea {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 80vh;
    width: 100vh;
    resize: none;
    padding-left: 1%;
  }
  
  .keyword {
    color: blue;
  }